references/APMG Campaign Send (clean).json
{
  "name": "APMG Campaign Send",
  "nodes": [
    {
      "parameters": {
        "content": "## APMG Campaign Send - setup\n\n**1. Gmail credential** - open **Send Plain** and, under *Credential to connect with*, pick your own Gmail OAuth2 credential. (No credential ships with this import.)\n\n**2. (Recommended) Secure the webhook** - on **Send Webhook** set *Authentication → Header Auth* with header name `x-apmg-secret`, then set the same header/value in the app so only it can trigger sends.\n\n**3. Go live** - **Activate** the workflow, copy the **Production** URL (ends in `/webhook/campaign-send`) and set it in the app as `N8N_CAMPAIGN_WEBHOOK_URL`.\n\n---\n**Request body (POST):**\n`{ \"campaign\": \"outreach-2026\", \"messages\": [ { \"to\", \"leadId\", \"subject\", \"text\", \"attachment?\": { \"url\", \"filename\" } } ] }`\n\n`text` is plain-text; the Code node builds the branded HTML from it and renders any attachment as a downloadable PDF card via the `/t/` tracking link.\n\n**Response:** `{ \"ok\": true, \"sent\": N }`",
        "height": 480,
        "width": 420
      },
      "id": "a1f0c3d2-1b4e-4a90-9c11-0e7a5b2d6f01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2e15d84-3c6f-4d21-8a77-1f9c4e0b7a12",
      "name": "Send Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "c3d47e95-4a8b-4f32-9b88-2a0d5f1c8b23"
    },
    {
      "parameters": {
        "jsCode": "// One item per message → branded APMG HTML email (PDF shown as a downloadable file card, linked not attached).\n// Body in:  { campaign, messages: [{ to, leadId, subject, text, attachment?: { url, filename } }] }\n// Body out: { campaign, to, leadId, subject, html, text, attachment_url, attachment_name }\n\nconst BRAND = {\n  color: \"#c8102e\",\n  logo: \"https://www.apmgservices.com.au/images/apmg-logo.png\",\n  website: \"https://www.apmgservices.com.au/\",\n  facebook: \"https://www.facebook.com/p/APMG-Services-100072630217180/\",\n  instagram: \"https://www.instagram.com/apmg.services\",\n  location: \"1 Tesmar Cct, Chirnside Park, VIC, Australia\",\n  // Sender identification (Spam Act 2003). Append \" · ABN <number>\" here\n  // once the ABN is registered — keep it accurate, do not invent one.\n  sender: \"APMG Services · 1 Tesmar Cct, Chirnside Park, VIC, Australia\",\n  // Deployed customer-portal origin. Used as the unsubscribe/PDF host FALLBACK\n  // when the CTA link can't be scraped from the body, so the unsubscribe link\n  // (Spam Act 2003) ALWAYS renders regardless of the email's body shape.\n  portalBase: \"https://customers-apmg-services.vercel.app\",\n};\n\nconst esc = (s) =>\n  (s || \"\").toString()\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\").replace(/\"/g, \"&quot;\");\n\nfunction bodyBlocks(text) {\n  const paras = (text || \"\").toString().split(/\\n{2,}/).map((p) => p.trim()).filter(Boolean);\n  const rows = [];\n  for (const p of paras) {\n    const cta = p.match(/^(.*?)\\s*\\((https?:\\/\\/[^\\s)]+)\\)\\s*$/s);\n    if (cta) {\n      const label = esc(cta[1].replace(/[→–—\\-\\s]+$/, \"\").trim()) || \"Learn more\";\n      const url = esc(cta[2]);\n      rows.push(\n        '<tr><td style=\"padding:6px 0 22px;\">' +\n          '<a href=\"' + url + '\" style=\"display:inline-block;background:' + BRAND.color + ';color:#ffffff;' +\n          'text-decoration:none;font-weight:600;font-size:15px;padding:12px 24px;border-radius:8px;\">' +\n          label + ' &rarr;</a>' +\n        '</td></tr>'\n      );\n    } else {\n      rows.push(\n        '<tr><td style=\"padding:0 0 16px;font-size:15px;line-height:1.65;color:#1a1a1a;\">' +\n          esc(p).replace(/\\n/g, \"<br>\") + '</td></tr>'\n      );\n    }\n  }\n  return rows.join(\"\");\n}\n\nfunction pdfCard(href, attName) {\n  if (!href) return \"\";\n  const name = esc(attName || \"APMG capability statement.pdf\");\n  return '<tr><td style=\"padding:4px 28px 26px;\">' +\n    '<a href=\"' + esc(href) + '\" style=\"text-decoration:none;color:inherit;display:block;\">' +\n      '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:10px;\">' +\n        '<tr>' +\n          '<td width=\"58\" style=\"padding:12px 0 12px 14px;vertical-align:middle;\">' +\n            '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>' +\n              '<td width=\"42\" height=\"50\" align=\"center\" valign=\"middle\" style=\"width:42px;height:50px;background:' + BRAND.color + ';border-radius:6px;color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:700;letter-spacing:1px;line-height:50px;\">PDF</td>' +\n            '</tr></table>' +\n          '</td>' +\n          '<td style=\"padding:12px 14px;vertical-align:middle;\">' +\n            '<div style=\"font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;color:#111111;line-height:1.3;\">' + name + '</div>' +\n            '<div style=\"font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:12px;color:#6b7280;margin-top:2px;\">PDF document</div>' +\n          '</td>' +\n          '<td width=\"120\" style=\"padding:12px 16px 12px 8px;vertical-align:middle;text-align:right;\">' +\n            '<span style=\"font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:' + BRAND.color + ';white-space:nowrap;\">Download &darr;</span>' +\n          '</td>' +\n        '</tr>' +\n      '</table>' +\n    '</a>' +\n  '</td></tr>';\n}\n\nfunction buildHtml(text, pdfHref, attName, unsubHref) {\n  const linkStyle = 'color:' + BRAND.color + ';text-decoration:none;font-weight:600;';\n  const dot = '<span style=\"color:#d1d5db;\">&nbsp;&middot;&nbsp;</span>';\n  const wordmark =\n    '<span style=\"color:#ffffff;font-size:19px;font-weight:700;letter-spacing:.5px;\">APMG <span style=\"color:' + BRAND.color + ';\">Services</span></span>' +\n    '<div style=\"color:#9ca3af;font-size:11px;letter-spacing:1.5px;text-transform:uppercase;margin-top:3px;\">Property Maintenance</div>';\n  const header = BRAND.logo\n    ? '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>' +\n        '<td style=\"vertical-align:middle;padding-right:14px;\">' +\n          '<a href=\"' + esc(BRAND.website) + '\" style=\"text-decoration:none;display:inline-block;\">' +\n          '<img src=\"' + esc(BRAND.logo) + '\" alt=\"APMG Services\" width=\"68\" height=\"52\" ' +\n          'style=\"display:block;border:0;outline:none;width:68px;height:52px;\"></a>' +\n        '</td>' +\n        '<td style=\"vertical-align:middle;\">' + wordmark + '</td>' +\n      '</tr></table>'\n    : wordmark;\n  return '<!doctype html>\\n<html lang=\"en\">\\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\\n<body style=\"margin:0;padding:0;background:#f4f4f5;\">\\n' +\n'<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f5;padding:24px 12px;\">\\n' +\n'  <tr><td align=\"center\">\\n' +\n'    <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;\">\\n' +\n'      <tr><td style=\"background:#111111;padding:18px 28px;\">' + header + '</td></tr>\\n' +\n'      <tr><td style=\"height:3px;background:' + BRAND.color + ';font-size:0;line-height:0;\">&nbsp;</td></tr>\\n' +\n'      <tr><td style=\"padding:28px 28px 8px;\">\\n' +\n'        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">' + bodyBlocks(text) + '</table>\\n' +\n'      </td></tr>\\n' +\n'      ' + pdfCard(pdfHref, attName) + '\\n' +\n'      <tr><td style=\"background:#fafafa;border-top:1px solid #ececec;padding:22px 28px;\">\\n' +\n'        <div style=\"font-size:13px;color:#374151;font-weight:700;margin-bottom:5px;\">APMG Services</div>\\n' +\n'        <div style=\"font-size:12px;color:#6b7280;line-height:1.6;\">' + esc(BRAND.location) + '</div>\\n' +\n'        <div style=\"margin-top:12px;font-size:13px;\">\\n' +\n'          <a href=\"' + esc(BRAND.website) + '\" style=\"' + linkStyle + '\">Website</a>' + dot + '\\n' +\n'          <a href=\"' + esc(BRAND.facebook) + '\" style=\"' + linkStyle + '\">Facebook</a>' + dot + '\\n' +\n'          <a href=\"' + esc(BRAND.instagram) + '\" style=\"' + linkStyle + '\">Instagram</a>\\n' +\n'        </div>\\n' +\n'      </td></tr>\\n' +\n'    </table>\\n' +\n'    <div style=\"max-width:600px;margin:14px auto 0;font-size:11px;color:#9ca3af;text-align:center;font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;\">\\n' +\n'      ' + esc(BRAND.sender) + '<br>You are receiving this because APMG Services provides property maintenance in your area.\\n' +\n'    </div>\\n' +\n    (unsubHref\n      ? '<div style=\"max-width:600px;margin:10px auto 0;text-align:center;\">' +\n          '<a href=\"' + esc(unsubHref) + '\" style=\"display:inline-block;border:1px solid #d1d5db;border-radius:6px;padding:7px 16px;font-size:11px;font-weight:600;color:#6b7280;text-decoration:none;background:#ffffff;\">Unsubscribe</a>' +\n        '</div>\\n'\n      : '') +\n'  </td></tr>\\n' +\n'</table>\\n</body></html>';\n}\n\nconst first = $input.first().json;\nconst body = first.body ?? first;\nconst campaign = (body.campaign || \"outreach-2026\").toString();\nconst messages = Array.isArray(body.messages) ? body.messages : [];\n\nconst out = [];\nfor (const m of messages) {\n  if (!m || typeof m !== \"object\") continue;\n  const to = (m.to || \"\").toString().trim();\n  if (!to) continue;\n  const text = (m.text ?? m.html ?? \"\").toString();\n  const leadId = (m.leadId || \"\").toString();\n  const att = m.attachment && typeof m.attachment === \"object\" ? m.attachment : null;\n  const attUrl = att && att.url ? att.url.toString() : \"\";\n  const attName = att && att.filename ? att.filename.toString() : \"\";\n\n  // Prefer the host scraped from the CTA link (correct across dev/preview/prod);\n  // fall back to the configured portal base so unsubscribe/PDF links still work\n  // even when the body doesn't carry a scrapable \"(https://.../t/...)\" CTA.\n  let trackBase = \"\";\n  const ctaLink = text.match(/\\((https?:\\/\\/[^\\s)]+\\/t\\/[^\\s)]+)\\)/);\n  if (ctaLink) { try { trackBase = new URL(ctaLink[1]).origin; } catch (e) {} }\n  const base = (trackBase || BRAND.portalBase || \"\").replace(/\\/+$/, \"\");\n\n  const pdfHref = attUrl && base && leadId\n    ? base + \"/t/\" + encodeURIComponent(leadId) + \"?c=\" + encodeURIComponent(campaign) + \"&to=\" + encodeURIComponent(attUrl)\n    : attUrl;\n\n  // Unsubscribe ALWAYS renders when we have any base + a recipient address\n  // (Spam Act 2003). leadId is optional context.\n  const unsubHref = base && to\n    ? base + \"/api/portal/unsubscribe?e=\" + encodeURIComponent(to) +\n      (leadId ? \"&lead=\" + encodeURIComponent(leadId) : \"\") +\n      \"&c=\" + encodeURIComponent(campaign)\n    : \"\";\n\n  out.push({\n    json: {\n      campaign, to, leadId,\n      subject: (m.subject || \"\").toString(),\n      html: buildHtml(text, pdfHref, attName, unsubHref),\n      text, attachment_url: attUrl, attachment_name: attName,\n    },\n  });\n}\nreturn out;\n"
      },
      "id": "d4e58fa6-5b9c-4a43-8c99-3b1e6a2d9c34",
      "name": "Split Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e5f69ab7-6cad-4b54-9daa-4c2f7b3e0d45",
      "name": "Send Plain",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        520,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "sent",
        "options": {}
      },
      "id": "f607abc8-7dbe-4c65-8ebb-5d308c4f1e56",
      "name": "Collect Sent",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, sent: ($json.sent || []).length } }}",
        "options": {}
      },
      "id": "0718bcd9-8ecf-4d76-9fcc-6e419d502f67",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Send Webhook": {
      "main": [
        [
          {
            "node": "Split Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "node": "Send Plain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Plain": {
      "main": [
        [
          {
            "node": "Collect Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Sent": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}