references/APMG Enquiry Notification.json
{
  "name": "APMG Enquiry Notification",
  "nodes": [
    {
      "parameters": {
        "content": "## APMG - Enquiry Notification\n\n**Trigger:** the app POSTs a landed portal enquiry here (app/api/portal/inquiries), so you get emailed when someone submits the services-portal form.\n\n**Setup (once):**\n1. Open **Send Notification** and select your Gmail (OAuth2) credential.\n2. (Recommended) Send Webhook node > Authentication > Header Auth (header `x-apmg-secret`), and set the same value as `N8N_WEBHOOK_SECRET` in the app env.\n3. Activate, copy the **Production URL**, and paste it on the app's Integrations tab > Enquiry Notification card. Set the notification email there too.\n\n**Request body:** `{ notifyTo, enquiry: { id, service, name, email, phone, message, business, category, campaign } }`\n**Response:** `{ ok: true }`\n\nThe email is SENT to `notifyTo` (your configured address); the customer's email is shown in the body with a one-click Reply button.",
        "height": 500,
        "width": 460,
        "color": 4
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enquiry-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Send Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        640
      ],
      "webhookId": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e"
    },
    {
      "parameters": {
        "jsCode": "// Format one landed portal enquiry into an internal notification email.\n// Body in:  { notifyTo, enquiry: { id, service, name, email, phone, message, business, category, campaign } }\n// Body out: { to, subject, html }\n// The customer's own email is set as replyTo-style content in the body; the\n// email is SENT to notifyTo (the operator's configured address).\n\nconst BRAND = { color: \"#c8102e\" };\n\nconst esc = (s) =>\n  (s == null ? \"\" : s.toString())\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\").replace(/\"/g, \"&quot;\");\n\nconst first = $input.first().json;\nconst body = first.body ?? first;\nconst to = (body.notifyTo || \"\").toString().trim();\nconst e = (body.enquiry && typeof body.enquiry === \"object\") ? body.enquiry : {};\n\n// Guard: without a destination address there is nothing to send.\nif (!to) { return []; }\n\nconst svc = esc(e.service || \"General enquiry\");\nconst name = esc(e.name || \"(not given)\");\nconst email = esc(e.email || \"(not given)\");\nconst phone = esc(e.phone || \"(not given)\");\nconst business = esc(e.business || \"\");\nconst category = esc(e.category || \"\");\nconst campaign = esc(e.campaign || \"\");\nconst message = esc(e.message || \"\").replace(/\\n/g, \"<br>\");\n\nconst subject = \"New enquiry: \" + (e.service || \"General\") + (e.name ? \" - \" + e.name : \"\");\n\nfunction row(label, val) {\n  if (!val || val === \"(not given)\") {\n    val = '<span style=\"color:#9ca3af;\">' + (val || \"-\") + '</span>';\n  }\n  return '<tr>' +\n    '<td style=\"padding:6px 12px 6px 0;font-size:13px;color:#6b7280;white-space:nowrap;vertical-align:top;\">' + label + '</td>' +\n    '<td style=\"padding:6px 0;font-size:14px;color:#111111;\">' + val + '</td>' +\n  '</tr>';\n}\n\nconst html =\n'<!doctype html><html><head><meta charset=\"utf-8\"></head>' +\n'<body style=\"margin:0;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;\">' +\n'<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"padding:24px 12px;\"><tr><td align=\"center\">' +\n'<table role=\"presentation\" width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;width:100%;background:#fff;border-radius:12px;overflow:hidden;\">' +\n'<tr><td style=\"background:#111;padding:16px 24px;color:#fff;font-size:16px;font-weight:700;\">New portal enquiry</td></tr>' +\n'<tr><td style=\"height:3px;background:' + BRAND.color + ';font-size:0;line-height:0;\">&nbsp;</td></tr>' +\n'<tr><td style=\"padding:20px 24px;\">' +\n'<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">' +\nrow(\"Service\", svc) +\nrow(\"Name\", name) +\nrow(\"Email\", '<a href=\"mailto:' + email + '\" style=\"color:' + BRAND.color + ';\">' + email + '</a>') +\nrow(\"Phone\", phone) +\n(business ? row(\"Business\", business) : \"\") +\n(category ? row(\"Category\", category) : \"\") +\n(campaign ? row(\"Campaign\", campaign) : \"\") +\n'</table>' +\n'<div style=\"margin-top:16px;padding-top:14px;border-top:1px solid #ececec;\">' +\n'<div style=\"font-size:12px;color:#6b7280;text-transform:uppercase;letter-spacing:.08em;margin-bottom:6px;\">Message</div>' +\n'<div style=\"font-size:14px;color:#111;line-height:1.6;\">' + (message || '<span style=\"color:#9ca3af;\">(no message)</span>') + '</div>' +\n'</div>' +\n'<div style=\"margin-top:18px;\">' +\n'<a href=\"mailto:' + email + '?subject=' + encodeURIComponent(\"Re: your APMG Services enquiry\") + '\" ' +\n'style=\"display:inline-block;background:' + BRAND.color + ';color:#fff;text-decoration:none;font-weight:600;font-size:14px;padding:10px 20px;border-radius:8px;\">Reply to customer</a>' +\n'</div>' +\n'</td></tr>' +\n'<tr><td style=\"background:#fafafa;border-top:1px solid #ececec;padding:14px 24px;font-size:11px;color:#9ca3af;\">' +\n'APMG Services - automated enquiry notification. Reply directly to the customer at the address above.' +\n'</td></tr>' +\n'</table></td></tr></table></body></html>';\n\nreturn [{ json: { to, subject, html } }];\n"
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "Format Enquiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        640
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Send Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        520,
        640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        640
      ]
    }
  ],
  "connections": {
    "Send Webhook": {
      "main": [
        [
          {
            "node": "Format Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Enquiry": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}