references/APMG Email Finder.json
{
  "name": "APMG Email Finder",
  "nodes": [
    {
      "parameters": {
        "content": "## APMG - Email Finder (website → best contact address)\n\n**Trigger:** the dashboard's Pipeline → Send Campaigns tab POSTs here when you click *Find emails* — it sends ONLY the selected leads that have a website but no stored email (the app filters; this workflow scrapes every lead it receives).\n\n**Setup (once):**\n1. RECOMMENDED — open the **Find Webhook** node → Authentication → **Header Auth**, create a header credential named `x-apmg-secret` with a random value, then set that same value as `N8N_WEBHOOK_SECRET` in the app's env. This webhook triggers server-side page fetches, so leaving it open lets anyone who finds the URL run them.\n2. **Activate** the workflow and copy the **Production URL** from the Webhook node.\n3. Add it on the dashboard's **Integrations** tab (Email Finder card), or set `N8N_EMAIL_FINDER_WEBHOOK_URL` in `.env.local` and restart the app.\n\n**What it does per lead:**\n- Fetches the homepage (internal / private-network hosts are rejected — SSRF guard).\n- Finds the most contact-ish same-site link (contact > get in touch / enquiries > about) and fetches it too.\n- Extracts addresses from both pages (mailto: links first, then a text scan), drops junk / placeholder / no-reply ones, prefers the lead's own domain, then role inboxes (info@, contact@, sales@ ...) — mirroring bestEmail() in lib/pipeline/campaign.ts.\n- Leads whose sites yield nothing come back with an empty list, so the app can tell \"tried, none found\" from \"not attempted\".\n\n**Request body:** `{ leads: [{ id, website }] }` — the app sends chunks of ≤ 10 per call (n8n cloud closes webhook connections after ~100s; the workflow itself accepts up to 50).\n**Response:** `{ ok: true, results: [{ id, website, emails: [..≤10], best_email }] }`\n\nThe app stores the returned addresses on each lead (same field the CSV import fills), so they show up in the audience table immediately and future sends need no re-scrape.",
        "height": 640,
        "width": 480,
        "color": 4
      },
      "id": "aa100000-1111-4111-8111-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -420
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-finder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bb200000-2222-4222-8222-000000000002",
      "name": "Find Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "d5e6f7a8-b9c0-4d12-8e34-5f6a7b8c9d00"
    },
    {
      "parameters": {
        "jsCode": "// One item per lead. Body: { leads: [{ id, website }] } (≤ 50 per run).\n// Only leads with a usable public http(s) website survive — the scrape lane\n// can't do anything with the rest, and the SSRF guard below keeps the fetch\n// nodes from being pointed at internal services.\n//\n// The webhook (typeVersion 2) can present the payload under different shapes\n// depending on instance config: $json may be the raw body ({ leads }), or the\n// full wrapper ({ headers, body, ... }), or occasionally the body may arrive as\n// a JSON *string*. Probe every known location so a wrapping quirk can't make\n// this node silently emit zero items (which skips the Respond node and returns\n// n8n's default reply with no results array — the app reports that as\n// \"answered without results\").\nconst first = $input.first().json || {};\nfunction pickLeads(src) {\n  if (!src || typeof src !== \"object\") return null;\n  if (Array.isArray(src.leads)) return src.leads;\n  if (src.body) {\n    let b = src.body;\n    if (typeof b === \"string\") { try { b = JSON.parse(b); } catch (e) { b = null; } }\n    if (b && Array.isArray(b.leads)) return b.leads;\n  }\n  return null;\n}\nlet found = pickLeads(first);\nif (!found) {\n  // last resort: some setups wrap the body one level deeper\n  for (const v of Object.values(first)) {\n    found = pickLeads(v);\n    if (found) break;\n  }\n}\nif (!Array.isArray(found)) {\n  // No leads array anywhere — throw so the execution shows a clear error in the\n  // n8n UI instead of quietly ending. The message names what we actually saw.\n  throw new Error('Split Leads: no \"leads\" array in webhook payload. Top-level keys: ' + Object.keys(first).join(', '));\n}\nconst leads = found.slice(0, 50);\n\nfunction safeHttpUrl(raw) {\n  let s = (raw || \"\").toString().trim();\n  if (!s) return \"\";\n  if (!/^https?:\\/\\//i.test(s)) s = \"https://\" + s;\n  let u;\n  try { u = new URL(s); } catch (e) { return \"\"; }\n  if (u.protocol !== \"http:\" && u.protocol !== \"https:\") return \"\";\n  const h = u.hostname.toLowerCase().replace(/^\\[|\\]$/g, \"\");\n  if (h === \"localhost\" || h.endsWith(\".localhost\") || h.endsWith(\".local\") || h.endsWith(\".internal\")) return \"\";\n  const m = h.match(/^(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})$/);\n  if (m) {\n    const a = Number(m[1]); const b = Number(m[2]);\n    if (a === 0 || a === 127 || a === 10 || a >= 224 || (a === 169 && b === 254) || (a === 172 && b >= 16 && b <= 31) || (a === 192 && b === 168)) return \"\";\n  }\n  if (h === \"::1\" || h === \"::\" || h.startsWith(\"fc\") || h.startsWith(\"fd\") || h.startsWith(\"fe80\")) return \"\";\n  return u.toString();\n}\n\nconst out = [];\nfor (const l of leads) {\n  if (!l || typeof l !== \"object\") continue;\n  const id = (l.id || \"\").toString().trim();\n  if (!id) continue;\n  const website = safeHttpUrl(l.website);\n  if (!website) continue;\n  out.push({ json: { id, website } });\n}\nreturn out;\n"
      },
      "id": "cc300000-3333-4333-8333-000000000003",
      "name": "Split Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-email-scraper/1.0)"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "dd400000-4444-4444-8444-000000000004",
      "name": "Fetch Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Runs once per lead. Collects (a) any addresses already visible on the\n// homepage and (b) the most contact-ish same-site link, which the next node\n// fetches. Falls back to the homepage URL when no contact link exists\n// (harmless - Extract Best Email merges both pages' addresses anyway).\nconst html = ($json.data || \"\").toString();\n// This lead's Split Leads row (id, website), paired by n8n item linking. Guard\n// the lookup: if Fetch Homepage's onError path breaks the link, fall back to\n// $json so a lead still flows through instead of throwing and sinking the run.\nlet orig;\ntry { orig = $('Split Leads').item.json || {}; } catch (e) { orig = {}; }\nif (!orig.id && $json.id) orig = { id: $json.id, website: $json.website };\nconst site = orig.website || \"\";\nlet origin = \"\";\ntry { origin = new URL(site).origin; } catch (e) {}\n\nconst emailRe = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\nconst junk = /\\.(png|jpe?g|gif|svg|webp|css|js|ico|woff2?|mp4)$/i;\nconst placeholder = /(example\\.(com|org)|sentry|wixpress|yourdomain|domain\\.com|email\\.com|@2x|@3x)/i;\nconst found = new Set();\nfor (const m of html.matchAll(/href=[\"']mailto:([^\"'?]+)/gi)) {\n  let addr = m[1];\n  try { addr = decodeURIComponent(addr); } catch (e) {}\n  found.add(addr.toLowerCase().trim());\n}\nfor (const e of html.match(emailRe) || []) found.add(e.toLowerCase().trim());\nconst homeEmails = [...found].filter((e) => !junk.test(e) && !placeholder.test(e));\n\n// Highest-scoring same-site link wins: contact > get in touch/enquiries > about.\nlet contactUrl = \"\";\nlet bestScore = 0;\nfor (const m of html.matchAll(/<a\\b[^>]*href=[\"']([^\"'#]+)[\"'][^>]*>([\\s\\S]{0,200}?)<\\/a>/gi)) {\n  const href = m[1];\n  const label = m[2].replace(/<[^>]+>/g, \" \");\n  const hay = (href + \" \" + label).toLowerCase();\n  let score = 0;\n  if (/contact/.test(hay)) score = 3;\n  else if (/get[\\s_-]*in[\\s_-]*touch|reach[\\s_-]*us|enquir|inquir/.test(hay)) score = 2;\n  else if (/about/.test(hay)) score = 1;\n  if (score <= bestScore) continue;\n  try {\n    const abs = new URL(href, site);\n    if (origin && abs.origin !== origin) continue; // stay on the lead's own site\n    if (/\\.(pdf|jpe?g|png|gif|zip|docx?)$/i.test(abs.pathname)) continue;\n    contactUrl = abs.toString();\n    bestScore = score;\n  } catch (e) {}\n}\n\nreturn { json: { ...orig, contactUrl: contactUrl || site, homeEmails } };\n"
      },
      "id": "ee500000-5555-4555-8555-000000000005",
      "name": "Find Contact Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.contactUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-email-scraper/1.0)"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "ff600000-6666-4666-8666-000000000006",
      "name": "Fetch Contact Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Runs once per item. Pairs by n8n item-linking, not index. Sandbox-safe:\n// no URL global, all non-trivial patterns built via new RegExp(\"...\") — note\n// string-built patterns need DOUBLE backslashes (\"\\\\s\", \"\\\\.\") or the class\n// silently degrades (the old \"\\s\" matched the letter \"s\").\nconst PREFERRED=[\"info\",\"contact\",\"sales\",\"hello\",\"office\",\"enquiries\",\"admin\",\"support\",\"reception\",\"team\"];\nconst emailRe=new RegExp(\"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\\\.[a-zA-Z]{2,}\",\"g\");\nconst junk=new RegExp(\"\\\\.(png|jpe?g|gif|svg|webp|css|js|ico|woff2?|mp4)$\",\"i\");\nconst placeholder=new RegExp(\"(example\\\\.(com|org)|sentry|wixpress|yourdomain|domain\\\\.com|email\\\\.com|@2x|@3x)\",\"i\");\n// Inboxes that are never the business contact: bounce/no-reply AND site-admin\n// role accounts (privacy@, postmaster@, webmaster@, abuse@, hostmaster@, noc@).\nconst junkInbox=new RegExp(\"^(no-?reply|donotreply|bounce|privacy|postmaster|webmaster|hostmaster|abuse|noc|mailer-daemon)@\",\"i\");\nconst strict=new RegExp(\"^[^\\\\s@]+@[^\\\\s@]+\\\\.[^\\\\s@]+$\");\nconst entityTail=new RegExp(\"&[a-z#0-9]+;?[\\\\s\\\\S]*$\",\"i\");\nconst wsRe=new RegExp(\"\\\\s+\");\nconst trailPunct=new RegExp(\"[.,;:]+$\");\n\n// HTML entities -> chars (&#64; -> @, &#x2e; -> ., &amp; -> &). Non-printable\n// codepoints become spaces so the whitespace split discards what follows.\nfunction decodeEntities(s){\n  s=String(s);\n  s=s.replace(new RegExp(\"&#x([0-9a-f]+);\",\"gi\"),function(_,h){var c=parseInt(h,16);return(c>32&&c<127)?String.fromCharCode(c):\" \";});\n  s=s.replace(new RegExp(\"&#([0-9]+);\",\"g\"),function(_,d){var c=parseInt(d,10);return(c>32&&c<127)?String.fromCharCode(c):\" \";});\n  s=s.replace(new RegExp(\"&amp;\",\"gi\"),\"&\").replace(new RegExp(\"&nbsp;\",\"gi\"),\" \");\n  return s;\n}\nfunction cleanAddr(a){\n  a=decodeEntities(String(a||\"\"));\n  try{a=decodeURIComponent(a);}catch(e){}\n  return a.replace(entityTail,\"\").split(wsRe)[0].trim().toLowerCase().replace(trailPunct,\"\");\n}\n// Cloudflare email-protection: first hex byte is the XOR key for the rest.\nfunction decodeCf(hex){\n  hex=String(hex||\"\");\n  if(hex.length<4||hex.length%2!==0||!(new RegExp(\"^[0-9a-fA-F]+$\")).test(hex)) return \"\";\n  var key=parseInt(hex.slice(0,2),16),out=\"\";\n  for(var i=2;i<hex.length;i+=2){ out+=String.fromCharCode(parseInt(hex.slice(i,i+2),16)^key); }\n  return out;\n}\n\nlet orig={}; try{ orig=$(\"Find Contact Page\").item.json||{}; }catch(e){ orig=$json||{}; }\nconst html=($json.data||\"\").toString();\nconst htmlDecoded=decodeEntities(html); // surfaces info&#64;domain&#46;com written in body text\n\nconst found=new Set((Array.isArray(orig.homeEmails)?orig.homeEmails:[]).map(cleanAddr));\nfunction scan(src){\n  const mailtoRe=new RegExp(\"href=[\\\"']mailto:([^\\\"'?]+)\",\"gi\");\n  let mm; while((mm=mailtoRe.exec(src))!==null){ const a=cleanAddr(mm[1]); if(a) found.add(a); }\n  for(const e of (src.match(emailRe)||[])) found.add(cleanAddr(e));\n}\nscan(html); scan(htmlDecoded);\n\n// Cloudflare-obfuscated addresses; decoded output goes through the SAME\n// cleaning + validation as scraped text — nothing is synthesized.\nconst cfAttrRe=new RegExp(\"data-cfemail=[\\\"']([0-9a-fA-F]+)[\\\"']\",\"gi\");\nconst cfHrefRe=new RegExp(\"/cdn-cgi/l/email-protection#([0-9a-fA-F]+)\",\"gi\");\nlet cm;\nwhile((cm=cfAttrRe.exec(html))!==null){ const a=cleanAddr(decodeCf(cm[1])); if(a) found.add(a); }\nwhile((cm=cfHrefRe.exec(html))!==null){ const a=cleanAddr(decodeCf(cm[1])); if(a) found.add(a); }\n\nlet list=[...found].filter(function(e){ return e&&strict.test(e)&&!junk.test(e)&&!placeholder.test(e); });\n// drop junk inboxes unconditionally: a junk-only page reports NO usable\n// address rather than surfacing privacy@/postmaster@.\nlist=list.filter(function(e){ return !junkInbox.test(e); });\n\nlet domain=\"\";\nconst dm=(orig.website||\"\").match(new RegExp(\"^https?://([^/?#:]+)\",\"i\"));\nif(dm){ domain=dm[1].toLowerCase().replace(new RegExp(\"^www\\\\.\"),\"\"); }\nconst onDomain=domain?list.filter(function(e){ var d=e.split(\"@\")[1]||\"\"; return d===domain||d.endsWith(\".\"+domain); }):[];\nconst ranked=(onDomain.length?onDomain:list).slice();\nlet best=\"\"; for(const p of PREFERRED){ const h=ranked.find(function(e){ return e.indexOf(p+\"@\")===0; }); if(h){best=h;break;} }\nif(!best) best=ranked[0]||\"\";\nconst emails=best?[best].concat(ranked.filter(function(e){ return e!==best; })).slice(0,10):[];\nreturn { json: { id:orig.id, website:orig.website, emails, best_email:best } };\n"
      },
      "id": "aa700000-7777-4777-8777-000000000007",
      "name": "Extract Best Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "results",
        "options": {}
      },
      "id": "bb800000-8888-4888-8888-000000000008",
      "name": "Collect Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, results: $json.results || [] } }}",
        "options": {}
      },
      "id": "cc900000-9999-4999-8999-000000000009",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        300
      ]
    }
  ],
  "connections": {
    "Find Webhook": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Fetch Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Homepage": {
      "main": [
        [
          {
            "node": "Find Contact Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact Page": {
      "main": [
        [
          {
            "node": "Fetch Contact Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contact Page": {
      "main": [
        [
          {
            "node": "Extract Best Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Best Email": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
