references/Campaign Send Automation.json
{
  "name": "APMG Campaign Send Automation",
  "nodes": [
    {
      "parameters": {
        "content": "## APMG — Send Campaign (branded HTML + tracked PDF card)\n\n**Trigger:** the dashboard's Pipeline → Send Campaigns tab POSTs rendered outreach messages here (app route: app/api/pipeline/campaigns/send).\n\n**Per message** the Code node builds the branded APMG HTML email:\n- CTA button → the app's `/t/<leadId>?c=<campaign>` attribution hook.\n- Sector PDF rendered as a downloadable file card, ALSO routed through `/t/…&to=<pdf-url>`.\n\n**Telemetry loop (Supabase):** every CTA click or PDF download hits `/t/`, which records an `attribution_click` in `portal_events` (with the lead's sector/category), flips `leads.engaged` (Sales queue badge), drops the `apmg_ref` cookie, then redirects — CTA clicks land on `/portal`, where every page view, service-card open and enquiry stays attributed to this lead + campaign. Analyse it all on the dashboard's **Enquiries** tab.\n\n**Setup (once):**\n1. Open **Send Plain** and select your Gmail (OAuth2) credential.\n2. RECOMMENDED — Send Webhook node → Authentication → **Header Auth**: header `x-apmg-secret`, random value; set the same value as `N8N_WEBHOOK_SECRET` in the app's env. This webhook sends real email — don't leave it open.\n3. Activate, copy the **Production URL**, set it as the campaign webhook on the dashboard's Integrations tab (or `N8N_CAMPAIGN_WEBHOOK_URL`).\n\n**Request body:** `{ campaign, messages: [{ to, leadId, subject, text, attachment?: { url, filename } }] }`\n**Response:** `{ ok: true, sent }`",
        "height": 620,
        "width": 480,
        "color": 4
      },
      "id": "b3f1a2c4-9d5e-4f60-8a71-2c3d4e5f6a70",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        2688
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c4cd3df-5eb0-4a6e-a4df-d31fba462205",
      "name": "Send Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1968,
        2976
      ],
      "webhookId": "a7c2f1e9-3b48-4d61-95a2-8f4c1e6d0b27"
    },
    {
      "parameters": {
        "jsCode": "// One item per message → branded APMG HTML email (PDF shown as a downloadable file card, linked not attached).\n// Body in:  { campaign, messages: [{ to, leadId, subject, text, attachment?: { url, filename } }] }\n// Body out: { campaign, to, leadId, subject, html, text, attachment_url, attachment_name }\n//\n// TELEMETRY: the CTA link already points at the app's /t/<leadId>?c=<campaign>\n// attribution hook (recorded in Supabase portal_events, flips leads.engaged,\n// drops the apmg_ref cookie, then redirects to /portal). The PDF card below is\n// routed through the SAME hook with &to=<pdf-url>, so a capability-statement\n// download is recorded exactly like a CTA click — and any later /portal visit\n// or enquiry from that browser stays attributed to this lead + campaign.\n\nconst BRAND = {\n  color: \"#c8102e\",\n  logo: \"https://www.apmgservices.com.au/images/apmg-logo.png\", // white emblem, 240x184\n  website: \"https://www.apmgservices.com.au/\",\n  facebook: \"https://www.facebook.com/p/APMG-Services-100072630217180/\",\n  instagram: \"https://www.instagram.com/apmg.services\",\n  location: \"1 Tesmar Cct, Chirnside Park, VIC, Australia\",\n};\n\nconst esc = (s) =>\n  (s || \"\").toString()\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\").replace(/\"/g, \"&quot;\");\n\n// Turn the plain-text body into styled paragraphs + a CTA button.\nfunction bodyBlocks(text) {\n  const paras = (text || \"\").toString().split(/\\n{2,}/).map((p) => p.trim()).filter(Boolean);\n  const rows = [];\n  for (const p of paras) {\n    // CTA paragraph looks like: \"See a bit more about what we do (https://.../t/<id>?c=...)\"\n    const cta = p.match(/^(.*?)\\s*\\((https?:\\/\\/[^\\s)]+)\\)\\s*$/s);\n    if (cta) {\n      const label = esc(cta[1].replace(/[→–—\\-\\s]+$/, \"\").trim()) || \"Learn more\";\n      const url = esc(cta[2]);\n      rows.push(\n        `<tr><td style=\"padding:6px 0 22px;\">` +\n          `<a href=\"${url}\" style=\"display:inline-block;background:${BRAND.color};color:#ffffff;` +\n          `text-decoration:none;font-weight:600;font-size:15px;padding:12px 24px;border-radius:8px;\">` +\n          `${label} &rarr;</a>` +\n        `</td></tr>`\n      );\n    } else {\n      rows.push(\n        `<tr><td style=\"padding:0 0 16px;font-size:15px;line-height:1.65;color:#1a1a1a;\">` +\n          `${esc(p).replace(/\\n/g, \"<br>\")}</td></tr>`\n      );\n    }\n  }\n  return rows.join(\"\");\n}\n\n// A downloadable-looking PDF \"file card\" (red PDF badge + filename + Download).\n// `href` is the tracked /t/ link when one can be built (raw public\n// sector-assets URL as the fallback, so the download never breaks).\nfunction pdfCard(href, attName) {\n  if (!href) return \"\";\n  const name = esc(attName || \"APMG capability statement.pdf\");\n  return `<tr><td style=\"padding:4px 28px 26px;\">\n    <a href=\"${esc(href)}\" style=\"text-decoration:none;color:inherit;display:block;\">\n      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:10px;\">\n        <tr>\n          <td width=\"58\" style=\"padding:12px 0 12px 14px;vertical-align:middle;\">\n            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n              <td width=\"42\" height=\"50\" align=\"center\" valign=\"middle\" style=\"width:42px;height:50px;background:${BRAND.color};border-radius:6px;color:#ffffff;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:700;letter-spacing:1px;line-height:50px;\">PDF</td>\n            </tr></table>\n          </td>\n          <td style=\"padding:12px 14px;vertical-align:middle;\">\n            <div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;color:#111111;line-height:1.3;\">${name}</div>\n            <div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;font-size:12px;color:#6b7280;margin-top:2px;\">PDF document</div>\n          </td>\n          <td width=\"120\" style=\"padding:12px 16px 12px 8px;vertical-align:middle;text-align:right;\">\n            <span style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:${BRAND.color};white-space:nowrap;\">Download &darr;</span>\n          </td>\n        </tr>\n      </table>\n    </a>\n  </td></tr>`;\n}\n\nfunction buildHtml(text, pdfHref, attName) {\n  const linkStyle = `color:${BRAND.color};text-decoration:none;font-weight:600;`;\n  const dot = `<span style=\"color:#d1d5db;\">&nbsp;&middot;&nbsp;</span>`;\n\n  const wordmark =\n    `<span style=\"color:#ffffff;font-size:19px;font-weight:700;letter-spacing:.5px;\">APMG <span style=\"color:${BRAND.color};\">Services</span></span>` +\n    `<div style=\"color:#9ca3af;font-size:11px;letter-spacing:1.5px;text-transform:uppercase;margin-top:3px;\">Property Maintenance</div>`;\n\n  // Logo to the LEFT of the wordmark; falls back to wordmark-only if no logo.\n  const header = BRAND.logo\n    ? `<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>` +\n        `<td style=\"vertical-align:middle;padding-right:14px;\">` +\n          `<a href=\"${esc(BRAND.website)}\" style=\"text-decoration:none;display:inline-block;\">` +\n          `<img src=\"${esc(BRAND.logo)}\" alt=\"APMG Services\" width=\"68\" height=\"52\" ` +\n          `style=\"display:block;border:0;outline:none;width:68px;height:52px;\"></a>` +\n        `</td>` +\n        `<td style=\"vertical-align:middle;\">${wordmark}</td>` +\n      `</tr></table>`\n    : wordmark;\n\n  return `<!doctype html>\n<html lang=\"en\">\n<head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#f4f4f5;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f5;padding:24px 12px;\">\n  <tr><td align=\"center\">\n    <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:12px;overflow:hidden;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\">\n      <tr><td style=\"background:#111111;padding:18px 28px;\">${header}</td></tr>\n      <tr><td style=\"height:3px;background:${BRAND.color};font-size:0;line-height:0;\">&nbsp;</td></tr>\n      <tr><td style=\"padding:28px 28px 8px;\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${bodyBlocks(text)}</table>\n      </td></tr>\n      ${pdfCard(pdfHref, attName)}\n      <tr><td style=\"background:#fafafa;border-top:1px solid #ececec;padding:22px 28px;\">\n        <div style=\"font-size:13px;color:#374151;font-weight:700;margin-bottom:5px;\">APMG Services</div>\n        <div style=\"font-size:12px;color:#6b7280;line-height:1.6;\">${esc(BRAND.location)}</div>\n        <div style=\"margin-top:12px;font-size:13px;\">\n          <a href=\"${esc(BRAND.website)}\" style=\"${linkStyle}\">Website</a>${dot}\n          <a href=\"${esc(BRAND.facebook)}\" style=\"${linkStyle}\">Facebook</a>${dot}\n          <a href=\"${esc(BRAND.instagram)}\" style=\"${linkStyle}\">Instagram</a>\n        </div>\n      </td></tr>\n    </table>\n    <div style=\"max-width:600px;margin:14px auto 0;font-size:11px;color:#9ca3af;text-align:center;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\">\n      You are receiving this because APMG Services provides property maintenance in your area.\n    </div>\n  </td></tr>\n</table>\n</body></html>`;\n}\n\nconst first = $input.first().json;\nconst body = first.body ?? first;\nconst campaign = (body.campaign || \"outreach-2026\").toString();\nconst messages = Array.isArray(body.messages) ? body.messages : [];\n\nconst out = [];\nfor (const m of messages) {\n  if (!m || typeof m !== \"object\") continue;\n  const to = (m.to || \"\").toString().trim();\n  if (!to) continue;\n  const text = (m.text ?? m.html ?? \"\").toString();\n  const leadId = (m.leadId || \"\").toString();\n  const att = m.attachment && typeof m.attachment === \"object\" ? m.attachment : null;\n  const attUrl = att && att.url ? att.url.toString() : \"\";\n  const attName = att && att.filename ? att.filename.toString() : \"\";\n\n  // Derive the app origin from the tracked CTA link the app already embeds in\n  // the text (localhost in dev, the production domain live) — nothing is\n  // hardcoded here, so the same workflow works in every environment.\n  let trackBase = \"\";\n  const ctaLink = text.match(/\\((https?:\\/\\/[^\\s)]+\\/t\\/[^\\s)]+)\\)/);\n  if (ctaLink) {\n    try { trackBase = new URL(ctaLink[1]).origin; } catch {}\n  }\n\n  // Route the PDF download through the /t/ attribution hook so it is recorded\n  // in portal_events (and sets the apmg_ref cookie) exactly like a CTA click.\n  const pdfHref = attUrl && trackBase && leadId\n    ? trackBase + \"/t/\" + encodeURIComponent(leadId) +\n      \"?c=\" + encodeURIComponent(campaign) + \"&to=\" + encodeURIComponent(attUrl)\n    : attUrl;\n\n  out.push({\n    json: {\n      campaign,\n      to,\n      leadId,\n      subject: (m.subject || \"\").toString(),\n      html: buildHtml(text, pdfHref, attName),\n      text, // plain-text fallback\n      attachment_url: attUrl,\n      attachment_name: attName,\n    },\n  });\n}\nreturn out;\n"
      },
      "id": "de9b57d9-0a4a-4e69-b89a-7151bb57ce2b",
      "name": "Split Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        2976
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "5cead39c-0e3e-4ca3-926e-6a03b1edb913",
      "name": "Send Plain",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2464,
        2976
      ],
      "webhookId": "d1f5b3c2-7e48-4a93-c2b6-4f8d0e1a5b79",
      "credentials": {
        "gmailOAuth2": {
          "id": "iTh8fjBipQxJ4RYY",
          "name": "Test Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "sent",
        "options": {}
      },
      "id": "e7b88d89-43cd-4551-8529-8a21836ea172",
      "name": "Collect Sent1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2704,
        2976
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, sent: ($json.sent || []).length } }}",
        "options": {}
      },
      "id": "d79fa189-4414-467c-aef8-380841f5e8d0",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2960,
        2976
      ]
    }
  ],
  "connections": {
    "Send Webhook": {
      "main": [
        [
          {
            "node": "Split Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "node": "Send Plain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Plain": {
      "main": [
        [
          {
            "node": "Collect Sent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Sent1": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Send Webhook": [
      {
        "headers": {
          "host": "apmgau.app.n8n.cloud",
          "user-agent": "node",
          "content-length": "838",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "49.145.37.156",
          "cf-ew-via": "15",
          "cf-ipcountry": "PH",
          "cf-ray": "a16b4b4d8f16e2fd-HKG",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "49.145.37.156, 172.71.214.223",
          "x-forwarded-host": "apmgau.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-swc-20-df7569f7f-6tb77",
          "x-is-trusted": "yes",
          "x-real-ip": "49.145.37.156"
        },
        "params": {},
        "query": {},
        "body": {
          "campaign": "outreach-2026",
          "messages": [
            {
              "to": "devkane2343@gmail.com",
              "leadId": "6a25b2e4-5d83-4e38-8458-039e3917e1dc",
              "subject": "Property maintenance & trades for St. Kane Reroma",
              "text": "Hi St. Kane Reroma,\n\nAPMG Services is a Melbourne-based multi-trade property maintenance partner covering painting, electrical, plumbing, carpentry, flooring, grounds and property make-safe, all handled by one licensed team. We keep Elderly Care facilities like yours safe, compliant and well maintained, working around your operations so the people who rely on them are never disrupted. Whether it’s scheduled upkeep or an urgent repair, you get one reliable partner instead of chasing multiple contractors.\n\nSee how APMG can help → (http://localhost:3000/t/6a25b2e4-5d83-4e38-8458-039e3917e1dc?c=outreach-2026)\n\nThe APMG Services team"
            }
          ]
        },
        "webhookUrl": "https://apmgau.app.n8n.cloud/webhook-test/campaign-send",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b20b77d7a3fd2e31fd7b0cb44dc61b514009ab3b55c1ea8d1896a9a48a5c090"
  }
}
